.user {
    flex: 6;
    padding: 20px;
    margin-top: 50px !important;
}

.usertitlecontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.useraddbutton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.usercontainer {
    display: flex;
    margin-top: 20px;
}

.usershow {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
}

.userupdate {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
    margin-left: 20px;
}

.usershowtop {
    display: flex;
    align-items: center;
}

.usershowimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.usershowtoptitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.usershowusername {
    font-weight: 600;
}

.usershowusertitle {
    font-weight: 300;
}

.usershowtitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(136, 132, 132);
}

.usershowbottom {
    margin-top: 20px;
}

.usershowinfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.usershowicon {
    font-size: 16px !important;
}

.usershowinfotitle {
    margin-left: 10px;
}

.userupdateimg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.userupdateform {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userupdatetitle {
    font-size: 24px;
    font-weight: 600;
}

.userupdateitem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userupdatetitle {
    font-size: 24px;
    font-weight: 600;
}

.userupdateitem > label {
    margin-bottom: 5px;
    font-size: 14px;
}

.userupdateinput {
    border: none;
    width: 250px;
    border-bottom: 1px solid gray;
    height: 30px;
}

.userupdateright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userupdateupload {
    display: flex;
    align-items: center;
}

.userupdateicon {
    cursor: pointer;
}

.userupdatebutton {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #262a53;
    color: white;
    font-weight: 600;
}

.container {
    display: flex;
    margin-top: 10px;
}
