.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position : fixed;
    top: '50%';
    left: '50%';
    transform : 'translate(-50%,-50%)';
    background: rgba(0,0,0,.5);
    padding: '50px';
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    
}

.modal-container.is-open {
    display: flex;
    

}


.container-login {
    background: #262a53;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    padding: 30px;
    border-radius: 8px;
}
.container-logo{
    height: 200px;
    width: 200px;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
}
.btn-submit {
    border: 1px solid #fe78cc;
    margin: 10px;
    background: #fe78cc;
    color: #262a53;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    font-size: larger;
}

.btn-submit:hover {
    border: 1px solid #fe78cc;
    background: #262a53;
    color: #fe78cc;
    border-radius: 10px;
}
.forgot-password {
    text-decoration: none;
    color: #f2989b;
}
.link-registro {
    color: white;
    font-size: large;
    padding: 10px;
}
