.widgetsm {
  flex: 1;
  -webkit-box-shadow: 0px 0px 11px -1px #000000;
  box-shadow: 0px 0px 11px -1px #000000;
  padding: 20px;
  margin-right: 20px;
}

.widgetsmtitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetsmimg {
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
}

.widgetsmlist {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.widgetsmlistitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widgetsmuser {
  display: flex;
  flex-direction: column;
}

.widgetsmusername {
  font-weight: 600;
}

.widgetsmusertitle {
  font-weight: 300;
}

.widgetsmbutton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.widgetsmicon {
  font-size: 16px;
  margin-right: 5px;
}
