.footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffe3e3;
    color: #262a53;

    align-items: center;
}
.copyrigth{
    padding: 0.5em;
}
.redes {
    display: flex;
    width: 50%;
}
