.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffe3e3;
    color: #262a53;
    align-items: center;
    padding: 0.5em;
    width: 100%;
}
.redes {
    display: flex;
}
.redes a {
    text-decoration: none;
    color: #262a53;
    cursor: pointer;
}
.whatsapp {
    position: fixed;
    display: block;
    background-color: #25d366;
    border-radius: 100%;
    right: 0;
    bottom: 4em;
    padding: 0.3em;
    padding-top: 5px;
    margin-top: -4em;
    margin-right: 1em;
    margin-bottom: 0;
}
.whatsapp a {
    display: block;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -5px;
}
