.productos {
    color: #ffe3e3;
    background-color: #262a53;
}
.cardProduct {
    width: 95%;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 2em;
    justify-content: center;
}
.addButton {
    margin-left: 25%;
}
.product-btn {
    background-color: #a34270;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    width: 50%;
    color: #ffe3e3;
}
