.productos{
   color: #ffe3e3;
}
.cardProduct {
    width: 95%;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 2em;
    justify-content: center;
}
.addButton{
    margin: 0 25%;
    width: 50%;
    background-color: #A34270;
}
