.productos {
    color: #ffe3e3;
    background-color: #262a53;
    min-height: 100vh;
}
.cardProduct {
    width: 100%;
    margin: 0.5em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 1em;
    justify-content: center;
}
.addButton {
    margin-left: 25%;
}
.product-btn {
    background-color: #a34270;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    width: 50%;
    color: #ffe3e3;
}
.contenido {
    display: flex;
    justify-content: space-between;
}
.linkDetails {
    font-size: smaller;
}
.buttonActions {
    margin: 0.1em;
    background-color: #2a2f62;
    border: none;
    color: #ffe3e3;
}
.textTitle {
    padding-left: 2em;
}
