.contacto {
    background-color: #262a53;
    min-height: 100vh;
    color: #ffe3e3;
}
.form {
    width: 50%;
    text-align: center;
}
#formContacto {
    display: grid;
    width: 70%;
    margin: auto;
}
input,
select,
textarea,
#button,
#CargaArchivo {
    margin: 0.4em;
    padding: 0.4em;
}
#CargaArchivo {
    height: 150px;
    background-color: blueviolet;
}
