*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --colorFondo: #262a53;
}

.container-details {
    background: var(--colorFondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.img-details {
    border-radius: 5px;
    width: 400px;
    height: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.container-header {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-header-left {
    width: 50vw;
    justify-content: center;
    display: flex;
    flex: auto;
}
.conatainer-header-right {
    background: #c8cad6;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    min-width: 20vw;
    width: 400px;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title-detail {
    text-transform: capitalize;
    display: flex;
    font-family: "Franklin Gothic Medium";
    font-size: xx-large;
    align-items: flex-start;
}
.container-info-detail {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
}
.info-detail {
    font-size: 22px;
    font-weight: bold;
}
.valor-info {
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    background: #262a53;
}
.btn-detail {
    border: none;
    cursor: pointer;
    background: #628395;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}
.btn-agregar-carro {
    border: none;
    background: #a34270;
    cursor: pointer;
    display: flex;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 200px;
}
.btn-compra {
    width: 200px;
    border: none;
    cursor: pointer;
    background: #377d71;
    color: white;
    font-size: large;
    font-weight: bold;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.container-btn-detail {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-descripcion {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}
.container-opiniones {
    padding: 20px;
    box-shadow: inset 0px -63px 66px -19px #374698;
    width: 90%;
    overflow: scroll;
    min-height: 300px;
    height: 300px;
    background: #c8cad6;
    border-radius: 5px;
}

.header-opinion {
    display: flex;
    margin-right: 55px;
    text-transform: capitalize;
}
.header-opinion h2 {
    margin-right: 10px;
}

.opinion-reviews {
    padding: 5px;
}
.container-valoracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    display: flex;
    width: 90%;

    height: 200px;
}
.input-opinion {
    resize: none;
    border-radius: 5px;
    background: #c8cad6;
    height: 200px;
    padding: 20px;
    width: 100%;
}
.header-valoracion {
    margin-bottom: 10px;
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
}
.btn-valoracion {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.btn-valoracion button {
    width: 80px;
    cursor: pointer;
    border: none;
    background: #a34270;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}
.buttons-details {
    margin-bottom: 10px;
}
