.newuser {
  flex: 7;
}

.newuserform {
  display: flex;
  flex-wrap: wrap;
}

.newuseritem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newuseritem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(146, 144, 144);
}

.newuseritem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newusergender > input {
  margin-top: 15px;
}

.newusergender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newuserselect {
  height: 40px;
  border-radius: 5px;
}

.newuserbutton {
  width: 200px;
  border: none;
  background-color: #262a53;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
