.products-container {
    background-color: #262a53;
    color: #ffe3e3;
    padding: 1em;
}
.titleCart {
    text-align: center;
}
.p-container {
    flex-direction: column;
}
#pr-img {
    width: 100px;
}
.product {
    background-color: rgba(239, 233, 218, 0.292);
    border-radius: 1em;
}

.compra {
    background-color: #a34270;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    width: 50%;
    color: #ffe3e3;
    margin: 0 25%;
}
