.products-container {
    background-color: #262a53;
    color: #ffe3e3;
    padding: 1em;
    min-height: 100vh;
}
.titleCart {
    text-align: center;
}
.p-container {
    flex-direction: column;
}
#pr-img {
    width: 100px;
    border-radius: 1em;
}
#contenidoCart {
    margin: 0 1em;
    width: 100%;
}
#favo {
    background-color: rgba(239, 233, 218, 0.292);
    border: none;
}
#cantidad {
    width: 50%;
    text-align: center;
}
#cant {
    color: #ffe3e3;
    background-color: rgba(239, 233, 218, 0.292);
    width: 20%;
    margin: 0.2em;
}
#deleteCart {
    background-color: red;
    border: none;
    padding: 0.5em;
    margin: 0.2em;
    color: #ffe3e3;
    border-radius: 0.5em;
    font-size: 18px;
}
.product {
    background-color: rgba(239, 233, 218, 0.292);
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.compra {
    background-color: #a34270;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    width: 50%;
    color: #ffe3e3;
    margin: 0 25%;
    cursor: pointer;
}
.pr-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
.pr-title {
    font-size: 18px;
    font-weight: bolder;
}
.pr-values {
    background-color: rgba(163, 66, 111, 0.5);
    border-radius: 99px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
