.navBar {
    background-color: #ffe3e3;
    color: #262a53;
    padding: 0.5em 0;
}

ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: #262a53;
    font-size: larger;
}

.buttonLogin,
.titleHome {
    margin: 0 0.5em;
}
